node-red/data/flows.json
[
    {
        "id": "6995dee42367b91d",
        "type": "tab",
        "label": "Pila MING Criptomonedas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad3dc706cb7988af",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "/conexión",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "\"Hola desde node red\"",
        "birthMsg": {},
        "closeTopic": "/conexión",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "\"Adios desde node red\"",
        "closeMsg": {},
        "willTopic": "/conexión",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "\"Error desde node red\"",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef2a3dfb2a5318a2",
        "type": "ui_tab",
        "name": "Aula",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb91b2178b1d3a73",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d12102950fba9caf",
        "type": "ui_group",
        "name": "Frame Aula",
        "tab": "ef2a3dfb2a5318a2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d74df80c151c231",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "dashboardTab",
        "type": "ui_tab",
        "name": "Monitor IoT",
        "icon": "dashboard"
    },
    {
        "id": "446e406b778a9b4f",
        "type": "inject",
        "z": "6995dee42367b91d",
        "name": "Cada 10 minutos",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "coingecko/BTC",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "76d7b61a2ad089b7"
            ]
        ]
    },
    {
        "id": "f576f38576b43804",
        "type": "function",
        "z": "6995dee42367b91d",
        "name": "Formatear Line Protocol InfluxDB",
        "func": "const price = Number(msg.payload.bitcoin.eur);\nconst change = Number(msg.payload.bitcoin.eur_24h_change);\n\nconst measurement = \"crypto_price\";\nconst symbol = \"BTC\";\nconst currency = \"EUR\";\n\n// Line protocol sin timestamp (Influx lo añade)\nconst line = `${measurement},symbol=${symbol},currency=${currency} price=${price},change_24h=${change}`;\n\nmsg.payload = line;\n\n// Limpiar el contador de reintentos en caso de éxito para el próximo ciclo\ndelete msg.retries;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "864698957890852d",
                "247f92f601b123e4"
            ]
        ]
    },
    {
        "id": "864698957890852d",
        "type": "http request",
        "z": "6995dee42367b91d",
        "name": "Enviar a InfluxDB",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://influxdb:8086/api/v2/write?org=sbd&bucket=coingecko&precision=s",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "Token ${INFLUX_WRITE_TOKEN}"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "text/plain"
            }
        ],
        "x": 1130,
        "y": 180,
        "wires": [
            [
                "e6a8d19635952129"
            ]
        ]
    },
    {
        "id": "e6a8d19635952129",
        "type": "debug",
        "z": "6995dee42367b91d",
        "name": "Salida InfluxDB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 240,
        "wires": []
    },
    {
        "id": "247f92f601b123e4",
        "type": "debug",
        "z": "6995dee42367b91d",
        "name": "Salida Formateada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "0d0f448fdebb9851",
        "type": "http request",
        "z": "6995dee42367b91d",
        "name": "CoinGecko Request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd,eur&include_24hr_change=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "f576f38576b43804"
            ]
        ]
    },
    {
        "id": "bc80800e63098194",
        "type": "catch",
        "z": "6995dee42367b91d",
        "name": "Catch Errores CoinGecko",
        "scope": [
            "0d0f448fdebb9851"
        ],
        "uncaught": false,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "f8d49e1021695ffd",
                "22048489f2b7c587"
            ]
        ]
    },
    {
        "id": "f8d49e1021695ffd",
        "type": "debug",
        "z": "6995dee42367b91d",
        "name": "Fallo Inmediato (Robustez)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 440,
        "wires": []
    },
    {
        "id": "22048489f2b7c587",
        "type": "function",
        "z": "6995dee42367b91d",
        "name": "Reintentos (Max 3)",
        "func": "const MAX_RETRIES = 3;\nconst RETRY_DELAY_MS = 5000; \n\n// Inicializar o incrementar el contador de reintentos\nmsg.retries = msg.retries || 0; \nmsg.retries += 1;\n\n// Registro temporal de advertencia\nnode.warn(`[INTENTO ${msg.retries}/${MAX_RETRIES}] Fallo detectado. Error: ${msg.error.message}`); \n\n// Limpiar propiedades de error para que el mensaje pueda ser reinyectado sin ser capturado inmediatamente\ndelete msg.error; \ndelete msg._error; \n\n// Establecer un retardo en milisegundos para el nodo 'delay' siguiente\nmsg.delay = RETRY_DELAY_MS;\n\nif (msg.retries <= MAX_RETRIES) {\n    // Salida 1: Reintentar (va al nodo Delay)\n    return [msg, null]; \n} else {\n    // Salida 2: Fallo Crítico (va al log final)\n    node.error(`[FALLO CRÍTICO] Agotados ${MAX_RETRIES} intentos para obtener BTC.`);\n    return [null, msg]; \n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "590c1b7e66a16886"
            ],
            [
                "ab0dc897536766f5"
            ]
        ]
    },
    {
        "id": "ab0dc897536766f5",
        "type": "debug",
        "z": "6995dee42367b91d",
        "name": "Fallo Crítico (Reintentos Agotados)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "3e6c2e79edacdd8c",
        "type": "link out",
        "z": "6995dee42367b91d",
        "name": "Link Out: Reintentar CoinGecko",
        "mode": "link",
        "links": [
            "76d7b61a2ad089b7"
        ],
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "76d7b61a2ad089b7",
        "type": "link in",
        "z": "6995dee42367b91d",
        "name": "Link In: CoinGecko Request",
        "links": [
            "3e6c2e79edacdd8c"
        ],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "0d0f448fdebb9851"
            ]
        ]
    },
    {
        "id": "590c1b7e66a16886",
        "type": "delay",
        "z": "6995dee42367b91d",
        "name": "Retraso 5s",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "3e6c2e79edacdd8c"
            ]
        ]
    }
]