node-red/data/flows.json
[
    {
        "id": "21a4ae0d448b732b",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f95a5882048ba0c",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad3dc706cb7988af",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "/conexión",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "\"Hola desde node red\"",
        "birthMsg": {},
        "closeTopic": "/conexión",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "\"Adios desde node red\"",
        "closeMsg": {},
        "willTopic": "/conexión",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "\"Error desde node red\"",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef2a3dfb2a5318a2",
        "type": "ui_tab",
        "name": "Aula",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb91b2178b1d3a73",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d12102950fba9caf",
        "type": "ui_group",
        "name": "Frame Aula",
        "tab": "ef2a3dfb2a5318a2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d74df80c151c231",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "dashboardTab",
        "type": "ui_tab",
        "name": "Monitor IoT",
        "icon": "dashboard"
    },
    {
        "id": "c09db1e905af6d68",
        "type": "function",
        "z": "21a4ae0d448b732b",
        "d": true,
        "name": "Da Formato",
        "func": "const price = Number(msg.payload.bitcoin.eur);\nconst change = Number(msg.payload.bitcoin.eur_24h_change);\n\nconst measurement = \"crypto_price\";\nconst symbol = \"BTC\";\nconst currency = \"EUR\";\n\n// Line Protocol sin timestamp (lo añade Influx)\nconst line = `${measurement},symbol=${symbol},currency=${currency} price=${price},change_24h=${change}`;\n\nmsg.payload = line;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "ac04fe66a941c42f"
            ]
        ]
    },
    {
        "id": "ec9fac9b5576a816",
        "type": "influxdb out",
        "z": "21a4ae0d448b732b",
        "d": true,
        "influxdb": "4d74df80c151c231",
        "name": "Guardar en InfluxDB",
        "measurement": "crypto_price",
        "precision": "s",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "sbd",
        "bucket": "yahoofinance",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "ecdcb7d28f1d2154",
        "type": "inject",
        "z": "21a4ae0d448b732b",
        "d": true,
        "name": "Inyecta",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "coingecko/BTC",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "05d72cc4e4da3471"
            ]
        ]
    },
    {
        "id": "05d72cc4e4da3471",
        "type": "http request",
        "z": "21a4ae0d448b732b",
        "d": true,
        "name": "Consulta a CoinGecko",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=eur&include_24hr_change=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "c09db1e905af6d68"
            ]
        ]
    },
    {
        "id": "defae711f5461c03",
        "type": "debug",
        "z": "21a4ae0d448b732b",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac04fe66a941c42f",
        "type": "http request",
        "z": "21a4ae0d448b732b",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8086/api/v2/write?org=sbd&bucket=yahoofinance&precision=s",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization:",
                "valueType": "other",
                "valueValue": "GMreO8vsBsHl6pjy-BFI8QBGWPLLpjFx6qSpCYJfjkod2ZL6-PFy0WNmWSNSKBA5QMXXauV6-X-mFf7EW-3m8g=="
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type:",
                "valueType": "other",
                "valueValue": "text/plain"
            },
            {
                "keyType": "other",
                "keyValue": "Accept:",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 850,
        "y": 240,
        "wires": [
            [
                "defae711f5461c03"
            ]
        ]
    },
    {
        "id": "a1c0f63062d13456",
        "type": "inject",
        "z": "3f95a5882048ba0c",
        "name": "Ejemplo CoinGecko mock",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "coingecko/BTC",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "c97ba0c7f644863a"
            ]
        ]
    },
    {
        "id": "ab5c36f55a1cf52e",
        "type": "function",
        "z": "3f95a5882048ba0c",
        "name": "Formatear Line Protocol InfluxDB",
        "func": "const price = Number(msg.payload.bitcoin.eur);\nconst change = Number(msg.payload.bitcoin.eur_24h_change);\n\nconst measurement = \"crypto_price\";\nconst symbol = \"BTC\";\nconst currency = \"EUR\";\n\n// Line protocol sin timestamp (Influx lo añade)\nconst line = `${measurement},symbol=${symbol},currency=${currency} price=${price},change_24h=${change}`;\n\nmsg.payload = line;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "59dd71bd8f019d95",
                "f72daf0f5c232256"
            ]
        ]
    },
    {
        "id": "59dd71bd8f019d95",
        "type": "http request",
        "z": "3f95a5882048ba0c",
        "name": "Enviar a InfluxDB",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://influxdb:8086/api/v2/write?org=sbd&bucket=coingecko&precision=s",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "Token E26MZMrIxjVdASs6YCPutZ_ps5sM_XQkoyFbxGi2x_qW8ZPTMth-nkb5CNJ_xlvXvMTjhNo_JJqfpPz5rEhr9g=="
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "text/plain"
            }
        ],
        "x": 950,
        "y": 180,
        "wires": [
            [
                "394b53c6bd4323cb"
            ]
        ]
    },
    {
        "id": "394b53c6bd4323cb",
        "type": "debug",
        "z": "3f95a5882048ba0c",
        "name": "Respuesta InfluxDB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 320,
        "wires": []
    },
    {
        "id": "f72daf0f5c232256",
        "type": "debug",
        "z": "3f95a5882048ba0c",
        "name": "Line Protocol generado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 580,
        "wires": []
    },
    {
        "id": "c97ba0c7f644863a",
        "type": "http request",
        "z": "3f95a5882048ba0c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd,eur&include_24hr_change=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "ab5c36f55a1cf52e"
            ]
        ]
    }
]